@using PassingData.Models
@model Customer   
@{
    // Customer customer = ViewBag.Customer;
    //Customer customer = ViewData.Model;
    <p>Id :@Model.CustomerId </p>
    <p>Name :@Model.Name</p>
    <p>Address : @Model.Address</p>

}
